node_modules/*
.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
package-lock.json

**/.env

__pycache__/
*.pyc
.pypirc

server/*_tmp*
*_tmp*
*.db

log/
config/data.json

# terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

**/import_and_unlock.py
node_wallets.json

result.json

*.code-workspace

venv/


# dkg binary
dkgpython.so