common:
  schain:
    cpu:
      skaled: 0.7
      ima: 0.3
    mem:
      skaled: 0.7
      ima: 0.3
    volume:
      max_consensus_storage_bytes: 0.3
      max_skaled_leveldb_storage_bytes: 0.3
      max_file_storage_bytes: 0.3
      max_reserved_storage_bytes: 0.1
    leveldb_storage:
      evm_storage_part: 0.6
      logs_storage_part: 0.4
    base_rotate_after_block_divider: 61035.1
envs:
  mainnet:
    server:
      disk_size_bytes: 1900000000000
  testnet:
    server:
      disk_size_bytes: 200000000000
  qanet:
    server:
      disk_size_bytes: 200000000000
  devnet:
    server:
      disk_size_bytes: 80000000000