version: '3.4'

services:
  base: &skale_base
    image: kubernetes/pause
    restart: unless-stopped
    labels:
      com.skale.prefix: "node"
    cpu_shares: 128
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  skale-sync-admin:
    <<: *skale_base
    container_name: skale_sync_admin
    image: skalenetwork/admin:2.4.0-sync-node.5
    network_mode: host
    tty: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment:
      ENDPOINT: ${ENDPOINT}
      SKALE_DIR_HOST: ${SKALE_DIR}
      ENV_TYPE: ${ENV_TYPE}
      SCHAIN_NAME: ${SCHAIN_NAME}
    command: "python3 sync_node.py"
    volumes:
      - /var/run/skale:/var/run/skale
      - ${SKALE_DIR}:/skale_vol
      - ${SKALE_DIR}/node_data:/skale_node_data
    healthcheck:
      test: ["CMD", "python3", "healthchecks/admin.py"]
      interval: 1m
      timeout: 10s
      retries: 2
      start_period: 30s

  nginx:
    <<: *skale_base
    image: nginx:1.20.2
    container_name: skale_nginx
    network_mode: host
    volumes:
      - ${SKALE_DIR}/node_data/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ${SKALE_DIR}/node_data/ssl:/ssl:ro
      - ${FILESTORAGE_MAPPING}:/filestorage:ro
      - type: bind
        bind:
          propagation: slave
        source: ${SCHAINS_MNT_DIR}
        target: ${SCHAINS_MNT_DIR}
        read_only: true
