common:
  schain:
    cpu:
      skaled: 0.7
      ima: 0.3
    mem:
      skaled: 0.7
      ima: 0.3
    volume:
      max_consensus_storage_bytes: 0.3
      max_skaled_leveldb_storage_bytes: 0.3
      max_file_storage_bytes: 0.3
      max_reserved_storage_bytes: 0.1
    leveldb_storage:
      evm_storage_part: 0.6
      logs_storage_part: 0.4
    base_rotate_after_block_divider: 61035.1
envs:
  mainnet:
    server:
      cpu_total: 8
      cpu_physical: 8
      memory: 32000000000
      swap: 16000000000
      disk: 1900000000000

    packages:
      docker: 20.10
      docker-compose: 1.27.4
      iptables-persistent: 1.1.3
      lvm2: 2.02.175
      btrfs-progs: 4.15.1
      lsof: 4.89
      psmisc: 23.1

  testnet:
    server:
      cpu_total: 8
      cpu_physical: 8
      memory: 32000000000
      swap: 16000000000
      disk: 200000000000

    packages:
      docker: 20.10
      docker-compose: 1.27.4
      iptables-persistent: 1.1.3
      lvm2: 2.02.175
      btrfs-progs: 4.15.1
      lsof: 4.89
      psmisc: 23.1

  qanet:
    server:
      cpu_total: 4
      cpu_physical: 4
      memory: 32000000000
      swap: 16000000000
      disk: 200000000000

    packages:
      docker: 20.10
      docker-compose: 1.27.4
      iptables-persistent: 1.1.3
      lvm2: 2.02.175
      btrfs-progs: 4.15.1
      lsof: 4.89
      psmisc: 23.1

  devnet:
    server:
      cpu_total: 1
      cpu_physical: 1
      memory: 2000000000
      swap: 2000000000
      disk: 80000000000

    packages:
      docker: 0.0.0
      docker-compose: 1.27.4
      iptables-persistent: 0.0.0
      lvm2: 0.0.0
      btrfs-progs: 4.15.1
      lsof: 0.0.0
      psmisc: 0.0.0
