filebeat.inputs:
  - type: filestream
    id: docker-containers
    paths:
      - /var/lib/docker/containers/*/*.log
    parsers:
      - container:
          stream: all

  {% if is_skale_node|default(false) %}
  - type: filestream
    id: lvmpy-log
    enabled: true
    paths:
      - /var/log/docker-lvmpy/lvmpy.log
  {% endif %}

processors:
  - add_host_metadata: {}
  - add_docker_metadata:
      host: "unix:///var/run/skale/docker.sock"
  - add_fields:
      fields:
        id: {{ id }}
        ip: '{{ ip }}'
        contract_address: '{{ contract_address }}'
  - decode_json_fields:
      fields: ["message"]
      target: ""
      overwrite_keys: true

output.logstash:
  hosts: ["${FILEBEAT_HOST}"]
  ssl.enabled: true

logging.metrics.enabled: false