limit_req_zone $binary_remote_addr zone=one:10m rate=7r/s;

server {
    listen 3009;

    {% if ssl %}
    listen 311 ssl;
    ssl_certificate     /ssl/ssl_cert;
    ssl_certificate_key /ssl/ssl_key;
    {% endif %}

    proxy_read_timeout 35s;
    proxy_connect_timeout 3s;

    error_log /var/log/nginx/error.log warn;
    client_max_body_size 1k;
    server_tokens off;

    server_name localhost;
    limit_req zone=one burst=10;

    location / {
        proxy_pass http://127.0.0.1:3010;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /nginx-status {
        stub_status;
        allow 127.0.0.1;
        deny all;
    }
}

{% if skale_node %}
server {
    listen 80;

    {% if ssl %}
    listen 443 ssl;
    ssl_certificate     /ssl/ssl_cert;
    ssl_certificate_key /ssl/ssl_key;
    {% endif %}

    error_log /var/log/nginx/error.log warn;
    client_max_body_size 20m;
    server_name localhost;
    limit_req zone=one burst=50;

    location / {
        root /filestorage;
    }
}
{% endif %}