limit_req_zone $binary_remote_addr zone=one:10m rate=7r/s;

server {
    listen 3009;

    {% if ssl %}
    listen 311 ssl;
    ssl_certificate     /ssl/ssl_cert;
    ssl_certificate_key /ssl/ssl_key;
    {% endif %}

    proxy_read_timeout 500s;
    proxy_connect_timeout 500s;
    proxy_send_timeout 500s;

    error_log /var/log/nginx/error.log warn;
    client_max_body_size 20m;

    server_name localhost;
    limit_req zone=one burst=10;

    location / {
        include uwsgi_params;
        uwsgi_read_timeout 500s;
        uwsgi_socket_keepalive on;
        uwsgi_pass 127.0.0.1:3010;
    }

    location /nginx-status {
        stub_status;
        allow 127.0.0.1;
        deny all;
    }
}

server {
    listen 80;

    {% if ssl %}
    listen 443 ssl;
    ssl_certificate     /ssl/ssl_cert;
    ssl_certificate_key /ssl/ssl_key;
    {% endif %}

    error_log /var/log/nginx/error.log warn;
    client_max_body_size 20m;
    server_name localhost;
    limit_req zone=one burst=50;

    location / {
        root /filestorage;
    }
}
