[agent]
  interval = "60s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "1s"
  flush_interval = "60s"
  flush_jitter = "1s"
  precision = ""
  hostname = "{{ ip }}"
  omit_hostname = false

[global_tags]
  node_id = "{{ node_id }}"

[[inputs.mem]]
  alias = "mem"

[[inputs.cpu]]
  alias = "cpu"

[[inputs.docker]]
  alias = "docker"
  endpoint = "unix:///var/run/skale/docker.sock"
  timeout = "5s"
  perdevice_include = ["cpu", "blkio"]
  container_name_include = ["skale_*"]

[[inputs.disk]]
  alias = "disk"

[[inputs.diskio]]
  alias = "diskio"

[[inputs.statsd]]
  alias = "statsd"
  protocol = "udp"
  service_address = ":8125"

[[inputs.nginx]]
  alias = "nginx"
  urls = ["http://localhost:3009/nginx-status"]
  response_timeout = "5s"

[[outputs.influxdb]]
  alias = "vm"
  urls = ["{{ url }}"]
  skip_database_creation = true
